<form>
    <h1>Preencha os campos abaixo para fazer login:</h1>
    <label for="usuario">Usuario:</label>
    <br>
    <input type="text" name="usuario" id="usuario" placeholder="Digite seu nome de usuario aqui">
    <br>
    <label for="usuario">Senha:</label>
    <br>
    <input type="password" name="senha" id="senha" placeholder="Digite sua senha aqui">
    <br>
    <button id="btnLogin" type="button" (click)="validaLogin()">Entrar</button>
    
    <div class="erros" id="erros">

    </div>
</form>


<section>
    <img src="assets/imgLogin.png" alt="imagemLogin">
</section>
