.bemvindo {
    text-align: center;    
    
    h1 {
        margin-top: 20px;
        color: white;
    }

    div{
        h3 {
            color: white;
        }

        button {
            margin-top: 20px;
            width: 300px;
            padding: 10px;
            background-color: white;
            color: black;
            border-style: none;
            border-radius: 100px;
    
            &:hover {
                background-color: black;
                color: white;
                border-style: solid;
                border-width: 5px;
                border-color: white;
            }
        }    
    }

}