<app-menu></app-menu>
<form>
    <h1>Digite as informações que tem do alvo:</h1>
    <label for="nome">Nome do alvo:</label>
    <input type="text" placeholder="digite o nome do alvo aqui" name="nome">
    <br>
    <label for="banco">Banco do alvo:</label>
    <input type="text" placeholder="digite o banco do alvo aqui" name="banco">
    <br>
    <label for="telefone">Telefone do alvo:</label>
    <input type="number" placeholder="digite o numero de telefone do alvo" name="telefone">
    <br>
    <button>Hackear Individuo</button>
</form>